/*
Benedict CSS - V1.0.1
*/

.accent-alt {
    color: #1EACCC;
}

/*-----------------------------------------------------------------------------------*/
/* OMMON
/*-----------------------------------------------------------------------------------*/
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 2.028571429;
    background-color: #f5f5f5;
    font-weight: 300;
    padding: 0;
    overflow-x: hidden;
}

#master-wrapper {
    overflow: hidden;
}

.bottom-frame, .top-frame {
    background-color: #f5f5f5;
    top: 0;
    width: 100%;
    left: 0;
    height: 30px;
    position: fixed;
    z-index: 9999;
}

.bottom-frame {
    bottom: 0;
    top: auto;
}

.smoothie {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a, a:hover {
    color: #C0B6A0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Work Sans',serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1.1em;
}

span.typcn::before,i.typcn::before {
    font-size: 2em;
}

span.x2:before,i.x2:before {
    font-size: 3.4em;
}

span.x3:before,i.x3:before {
    font-size: 4.4em;
}

span.x4:before,i.x4:before {
    font-size: 6em;
}

.fullheight {
    height: 100vh;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb90 {
    margin-bottom: 120px;
}

.pt60 {
    padding-top: 60px;
}

.nomargins {
    margin: 0 !important;
}

.nomargintop {
    margin-top: 0 !important;
}

.nopaddingbottom {
    padding-bottom: 0 !important;
}

.nopaddingleftright {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row.nopaddingleftright {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mt0 {
    margin-top: 0;
}

.section-inner {
    padding-top: 110px;
    padding-bottom: 110px;
}

.section-inner-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.site-overlay {
    display: none;
}

/* OVERLAYS */
.light-overlay {
    background-color: rgba(255,255,255,0.95);
}

.dark-overlay {
    background-color: rgba(0,0,0,0.6);
}

.accent-overlay {
    background-color: rgba(219, 10, 91,0.9);
}

.dark-overlay.half-opacity {
    background-color: rgba(219, 10, 91,0.4);
}

.dark-overlay.fill-right:after {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    width: 500%;
    height: 100%;
    left: 100%;
}

.dark-overlay.fill-left:after {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    width: 500%;
    height: 100%;
    right: 100%;
}

.hover-shift .dark-overlay.fill-left {
    position: relative;
    left: 0px;
}

.hover-shift .dark-overlay.fill-right {
    position: relative;
    right: 0px;
}

 .hover-shift:hover .dark-overlay.fill-left {
    position: relative;
    left: 60px;
}

.hover-shift:hover .dark-overlay.fill-right {
    position: relative;
    right: 60px;
}

.hover-shift .member-social {
    opacity: 0;
    width: 0px;
    z-index: 5;
}

.hover-shift:hover .member-social {
    opacity: 1;
    width: 80px;
}

.member-social a {
    display: block;
    padding: 20px 0 20px 0;
    clear: both;
    color: #fff;
    border-bottom: 3px solid #fff;
    text-align: center;
    margin-bottom: 20px;
}

.member-social a:hover {
    color: #C0B6A0;
    border-bottom: 3px solid #C0B6A0;
}

/* WRAPPERS */
.dark-wrapper {
    background-color: #0E0E0E;
}

.light-wrapper {
    background-color: #fefefe;
}

.silver-wrapper {
    background-color: #f5f5f5;
}

.white-wrapper {
    background-color: #f5f5f5;
}

.pure-white-wrapper {
    background-color: #fff;
}

.background-cover {
    background-size: cover;
    background-position: center;
}

/*-----------------------------------------------------------------------------------*/
/* HOVER EFFECT
/*-----------------------------------------------------------------------------------*/
.hover-effect {
    position: relative;
    overflow: hidden;
}

.hover-effect .img-responsive {
    width: 100%;
}

.hover-effect .hover-caption, .hover-effect .hover-overlay {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    top: 0px;
    left: 0px;
    opacity: 0;
    padding: 0 40px;
    text-align: left;
}

.hover-effect .hover-caption {
    left: 60px;
}

.hover-effect:hover .hover-caption {
    opacity: 1;
    z-index: 5;
    width: calc(100%);
    height: calc(100%);
    top: 0px;
    left: 0px;
}

.hover-effect .hover-overlay {
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    color: #fff;
}

.hover-effect:hover .hover-overlay {
    opacity: 0;
    left: -60px;
}



/*-----------------------------------------------------------------------------------*/
/* HEADER
/*-----------------------------------------------------------------------------------*/
#home {
    background-image: url(../assets/images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#home.home-portfolio  {
    background-image: url(../assets/images/portfolio/hero-bg.jpg);
}

.error404-bg {
    background-image: url(../assets/images/404-bg.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

#home.fullheight.max-600, #home .fullheight.max-600 {
    max-height: 600px;
}

.single-page-hero {
    min-height: 440px;
}

.hamburger {
    font-size: 2.3em;
    color: #fff;
}

.hamburger:hover {
    color: #FFF;
    cursor: pointer;
}

.logo {
    background: none;
    border: 0;
}

.jumbotron {
    background: none;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 80px;
    font-weight: 100;
}

.jumbotron small {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Nothing You Could Do';
    text-transform: lowercase;
    font-style: italic;
    font-weight: 700;
}

.jumbotron h1,.jumbotron h2,.jumbotron h3,.jumbotron h4,.jumbotron h5,.jumbotron h6,.jumbotron small {
    color: #FFF;
}

.jumbotron p {
    color: #FFF;
    margin-bottom: 5%;
}

.nav-wrapper {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    left: 0;
    padding: 0px;
}

.nav-wrapper.scrolled {
    position: fixed;
    z-index: 999;
    top: 0px;
}

.nav-wrapper.scrolled .nav-inner {
    background-color: transparent;
}

.nav-wrapper.scrolled .nav-inner {
    background-color: #1E1E1E;
}

.pushy-right-side .nav-wrapper.scrolled {
    padding-bottom: 24px;
}


.top-navigation .navbar-nav >li > a, .pushy a {
    font-family: 'Work Sans';
    color: #fff;
    font-weight: 300;
    padding: 25px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
}

.nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}

.nav>li>a:focus {
    background-color: transparent;
    color: #fff;
}

.dropdown-menu {
    padding: 0;
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    background: rgba(0,0,0,0.8);
}

.dropdown-menu>li>a {
    display: block;
    padding: 12px 14px;
    clear: both;
    font-weight: 700;
    line-height: 1.42857143;
    color: #eee;
    white-space: nowrap;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

.regular-navigation .nav-wrapper {
    background-color: #fff;
    position: relative;
    width: 100%;
    z-index: 9999;
}

.regular-navigation .navbar-nav >li > a {
    font-family: 'Lato';
    color: #333;
    font-weight: 700;
    padding: 25px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

img.logo {
    max-height: 29px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 0px;
    background: #fff;
}

.navbar-toggle {
    padding: 17px 10px;
}

.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    transition: .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    padding-top: 19px;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    display: inline-block;
    float: left;
}

.menu-label {
    display: inline-block !important;
    padding-left: 10px !important;
}

.tcon > * {
    display: block;
}

.tcon:hover,.tcon:focus {
    outline: none;
}

.tcon::-moz-focus-inner {
    border: 0;
}

.tcon-menu__lines {
    display: inline-block;
    height: 4px;
    width: 32px;
    border-radius: 0;
    transition: .3s;
    background: #fff;
    position: relative;
}

.tcon-menu__lines::before,.tcon-menu__lines::after {
    display: inline-block;
    height: 4px;
    width: 32px;
    border-radius: 0;
    transition: .3s;
    background: #fff;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 1.85714px center;
    transform-origin: 1.85714px center;
    width: 100%;
}

.tcon-menu__lines::before {
    top: 10px;
}

.tcon-menu__lines::after {
    top: -10px;
}

.tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8,0.8,0.8);
    transform: scale3d(0.8,0.8,0.8);
}

.tcon-menu--minus {
    width: auto;
}

.tcon-menu--minus.tcon-transform .tcon-menu__lines::before,.tcon-menu--minus.tcon-transform .tcon-menu__lines::after {
    -webkit-transform: none;
    transform: none;
    top: 0;
    width: 40px;
}

.tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.tcon-visuallyhidden:active,.tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.pushy {
    background-color: #222;
}

/*-----------------------------------------------------------------------------------*/
/* BUTTONS
/*-----------------------------------------------------------------------------------*/
.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 18px;
    border-radius: 0px;
    font-weight: 800;
    border-width: 3px;
}

.btn-primary {
    background-color: #C0B6A0;
    border-color: #C0B6A0;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover, .btn-primary.focus, .btn-primary:focus {
    background-color: #30363d;
    border-color: #30363d;
}

.btn-primary:hover {
    background-color: #222;
    border-color: #222;
}

.btn-primary.btn-outlined {
    background-color: transparent;
    border: 3px solid #C0B6A0;
    color: #C0B6A0;
}

.btn-primary.btn-outlined.active, .active .btn-primary.btn-outlined, .active .btn-primary.btn-outlined:focus {
    background-color: #C0B6A0;
    border: 3px solid #C0B6A0;
    color: #fff;
}

.btn-white {
    border: 3px solid #fff;
    background-color: #fff;
    color: #C0B6A0 !important;
}

.active .btn-white, .active .btn-white:focus, .active .btn-white:hover {
    border: 3px solid #222;
    background-color: #222;
    color: #222;
}

.active .btn-white span, .btn-white:hover span {
    color: #222;
}

.btn-white:hover {
    border: 3px solid #222;
    background-color: #222 !important;
    color: #fff !important;
}

.btn-lg {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    padding: 14px 25px
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 22px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #eee;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}

.form-group {
    overflow: hidden;
}

.dark-overlay .form-control::-webkit-input-placeholder,
.dark-wrapper .form-control::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.dark-overlay .form-control::-moz-placeholder,
.dark-wrapper .form-control::-moz-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.dark-overlay .form-control:-ms-input-placeholder,
.dark-wrapper .form-control:-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.dark-overlay .form-control:-moz-placeholder,
.dark-wrapper .form-control:-moz-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

textarea.form-control {
    min-height: 250px
}

.dark-overlay .form-control, .dark-wrapper .form-control {
    background-color: rgba(0,0,0,0.8);
    border: none;
    border-bottom: 2px solid #fff;
}

.form-control {
    background-color: rgba(0,0,0,0.0);
    border: none;
    border-bottom: 2px solid #C0B6A0;
}

.form-control:focus {
    border: 2px solid #1EACCC !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*-----------------------------------------------------------------------------------*/
/* ECTIONS
/*-----------------------------------------------------------------------------------*/
section, header#home {
    border-bottom: 0px solid #222;
    overflow: hidden;
}
section.white-bg {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.section-title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 44px;
    letter-spacing: -1px;
    font-weight: 100;
}

.section-sub-title {
    font-family: 'Nothing You Could Do', serif;
    font-size: 20px;
    text-transform: lowercase;
    letter-spacing: 1px;
    opacity: 1;
    font-style: italic;
}

#promo-3 {
    background-image: url(../assets/images/section-bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#course-tabs li.summer-term {
    background-image: url(../assets/images/image-tab-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#course-tabs li.winter-term {
    background-image: url(../assets/images/image-tab-bg-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#course-tabs li.online-learning {
    background-image: url(../assets/images/image-tab-bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-tabs li {
    padding: 0 !important;
}

.image-tabs li a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 160px 10px 30px;
}

.image-tabs li a:hover, .image-tabs li.active a {
    background-color: rgba(255,255,255,0.2);
}

/*-----------------------------------------------------------------------------------*/
/* TEAM
/*-----------------------------------------------------------------------------------*/
#team-wrapper .match-height {
    position: relative;
    min-height: 540px;
}

.team-item {
    position: relative;
    height: 100%;
}

.team-item .team-image {
    height: 100%;
    display: block;
    position: relative;
}

.team-item .team-image img {
    position: absolute;
    bottom: 0;
}

.team-info {
    opacity: 0.5;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    bottom: 10px;
    width: 90%;
    margin: 0 5% 0;
    text-align: center;
    padding: 15px 10px 0;
}

.team-info p {
    display: none;
    overflow: hidden;
    opacity: 0;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.team-item:hover .team-info {
    opacity: 1;
}

.team-item:hover .team-info p {
    display: block;
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.team-social a {
    display: inline-block;
    margin: 10px 5px;
}

/*-----------------------------------------------------------------------------------*/
/* TESTIMONIALS
/*-----------------------------------------------------------------------------------*/
#testimonial-carousel .item {
    padding-bottom: 40px;
}

#testimonial-carousel .carousel-indicators {
    position: absolute;
    bottom: -20px;
    left: 50%;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: -50%;
    text-align: left;
    list-style: none;
}

#testimonial-carousel small strong {
    clear: left;
    display: block;
}

.carousel-indicators .active {
    width: 14px;
    height: 14px;
}
.carousel-indicators li {
    border-radius: 0;
}

.carousel-control {
    left: -60px;
    height: 40px;
    width: 40px;
    background: #C0B6A0;
    border: none;
    border-radius: 23px 23px 23px 23px;
    top: 50%;
    background-image: none !important;
    color: #fff;
    border-right: 3px solid #C0B6A0;
    border-radius: 0;
    line-height: 40px;
    font-size: 20px;
    margin-top: -20px;
    opacity: 1;
}

.carousel-control:hover {
    color: #222 !important;
    border-color: #222 !important;
    text-shadow: none;
}

.carousel-control.right {
    right: -60px;
    border-right: none !important;
    border-left: 3px solid #222;
}

.carousel-control:focus, .carousel-control:hover {
    color: #222 !important;
    border-color: #222 !important;
    text-shadow: none;
}

#music-carousel .thumbnail {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    border: none !important;
}

#music-carousel .thumbnail img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

#music-carousel .thumbnail:hover img {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
}

.masonry .item img {
    opacity: 1;
}

.masonry .item img:hover {
    opacity: 0.8;
}

.masonry-portfolio-filter.vertical li {
    clear: both;
    display: block;
}

/*-----------------------------------------------------------------------------------*/
/*CTA
/*-----------------------------------------------------------------------------------*/
.cta h4 {
    font-size: 28px;
    margin-top: 14px
}

/*-----------------------------------------------------------------------------------*/
/* FOOTER
/*-----------------------------------------------------------------------------------*/
#map-holder, #contact-holder {
    display: none;
}
#mapwrapper, #mapwrapper-open {
    min-height: 460px;
}

footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sub-footer {
    border-top: 2px solid #eee;
    padding-top: 80px;
}

.dark-overlay *,.dark-wrapper *, .dark-wrapper a {
    color: #FFF;
}

.copyright {
    padding-top: 21px;
}

.copyright a {
    color: #fff;
}

.footer-social a {
    color: #fff;
    display: inline-block;
    padding: 24px 14px 16px 0;
}

/*-----------------------------------------------------------------------------------*/
/* WIDGETS
/*-----------------------------------------------------------------------------------*/
.gallery-list a {
    width: 30.3333%;
    display: inline-block;
    margin: 0 1% 1% 0;
}

.gallery-list img {
    max-width: 100%;
    height: auto;
}

.course-fees span {
    clear: left;
    display: block;
    margin-bottom: 5px;
}

.course-fees .course-price {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}

.about-author-widget img {
    max-width: 220px;
}

/*-----------------------------------------------------------------------------------*/
/* TABS
/*-----------------------------------------------------------------------------------*/
.nav.nav-justified > li > a {
    position: relative;
}

.nav-justified>li {
    padding: 0 10px;
}

.tab-pane .tab-inner {
    padding: 30px 0 20px;
}

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0;
    }
}

/*-----------------------------------------------------------------------------------*/
/*  14 - SPLASH
/*-----------------------------------------------------------------------------------*/
.preloader {
    background-color: #1E1E1E;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.preloader span {
    text-transform: none;
    font-size: 34px
}

.preloader .preloader-img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
}
/*-----------------------------------------------------------------------------------*/
/*  RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1200px) {
        .container {
            width: 1190px;
        }
}

@media all and (min-width: 769px) and (max-width: 991px) {
    .top-navigation .navbar-nav >li > a {
        padding: 25px 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }
    .tcon {
        padding-top: 0;
        top: -3px;
        position: relative;
        right: -10px;
    }
    .gallery-format-links {
        text-align: left !important;
    }
    .nav-wrapper, .nav-wrapper.scrolled {
        padding: 0;
        top: 0;
    }
    .bottom-frame, .top-frame {
        display: none;
    }
     .hover-shift:hover .dark-overlay.fill-left {
        position: relative;
        left: 0px;
    }

    .hover-shift:hover .dark-overlay.fill-right {
        position: relative;
        right: 0px;
    }

    .hover-shift .member-social {
        opacity: 1;
        width: 60px;
    }

    .hover-shift .section-inner {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .hover-shift {
        min-height: 680px;
    }

    .member-social a {
        margin-bottom: 0;
    }

    .jumbotron small {
        font-size: 28px;
    }

    .jumbotron .h1, .jumbotron h1 {
        font-size: 40px;
        font-weight: bold;
    }
    a#back-to-top {
        right: 0;
        bottom: 0;
    }
    .masonry-portfolio-filter.vertical {
        text-align: center;
    }
    .masonry-portfolio-filter.vertical li {
        clear: none;
        display: inline-block;
    }
    .btn {
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 6px 12px;
        border-radius: 0px;
        font-weight: 700;
        border-width: 3px;
    }
    .post-tile-alt .blog-caption {
        float: right;
        text-align: left;
    }
    .post-tile-alt .blog-caption .text-right {
        text-align: left !important;
    }
    .post-tile-alt h4:after {
        left: 40px !important;
        right: auto;
    }
}

/* BACK TO TOP */
a#back-to-top {
    position: fixed;
    right: 0px;
    bottom: 0px;
    background: #222;
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

a#back-to-top.show {
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

/* NAV */
.navbar-form input, .form-inline input {
    width:auto;
}

.nav .form-inline .btn {
    display: none;
}

/* ACCORDION */
.styled-accordion .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #eee;
    border-radius: 0px;
    border: none;
    padding: 16px 15px;
}

.styled-accordion.panel-group .panel, .styled-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.styled-accordion .panel-default>.panel-heading.panel-open {
    background-color: #1EACCC;
}

.styled-accordion .panel-default>.panel-heading {
    background-color: #C0B6A0;
}

.styled-accordion .panel-default>.panel-heading a {
    color: #fff;
    text-decoration: none;
}

/* SINGLE POSTS */
.well {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: inset none;
    overflow: hidden;
}

.item-metas .meta-item {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
}

.item-metas .meta-item i {
    font-size: 17px;
    position: relative;
    top: 3px;
}

.item-metas .meta-item span {
    font-weight: 700;
}

/*-----------------------------------------------------------------------------------*/
/*  FEATURE BOXES
/*-----------------------------------------------------------------------------------*/
.feature-box {
    padding: 80px 40px;
    color: #fff;
}

.feature-box.alt-style {
    padding: 0px 15px;
    color: #222;
}

.feature-box.alt-style * {
    color: #222;
}

.feature-box.alt-style i a {
    right: 30px;
}

.feature-box.alt-style i {
    border-bottom: 3px solid #222;
}

.feature-box i {
    width: 65px;
    border-bottom: 3px solid #fff;
    padding-bottom: 15px;
}

.feature-box.alt-style:hover i a {
    opacity: 1;
    display: inline;
    right: 15px;
}

.feature-box .content-area {
    padding-top: 15px;
}

.feature-box i a {
    opacity: 0;
    display: none;
    right: 60px;
    display: inline;
    position: absolute;
    color: #fff;
    font-family: 'Work Sans';
    font-size: 20px;
    text-transform: uppercase;
    line-height: 80px;
    font-weight: 300;
    text-decoration: none;
}

.feature-box:hover i a {
    opacity: 1;
    display: inline;
    right: 45px;
}

.feature-box:hover i {
    width: 100%;
}

.feature-1 {
    background-color: #C0B6A0;
}

.feature-2 {
    background-color: #f52374;
}

.feature-3 {
    background-color: #f8649d;
}

.pushy {
    background-color: #1E1E1E;
    box-shadow: none;
}

.pushy * {
    color: #eee;
}

.pushy ul.list-unstyled a {
    color: #eee;
    opacity: 0.8;
}


.pushy ul.list-unstyled a:hover {
    color: #fff;
    opacity: 1;
}


@media all and (min-width: 991px) {
    #master-wrapper {
        margin-left: 320px;
    }
    .pushy-left-open .pushy {
        left: 0;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    .post-content {
        background-color: #fff;
        padding: 60px 40px;
    }

}

.share-li span {
        color: #fff;
        display: inline-block;
}

.twitter-bg {
    background-color: #55acee
}

.facebook-bg {
    background-color: #3b5998
}

.gplus-bg {
    background-color: #dc4e41
}


.hover-overlay h4, .post-tile h4, .post-tile-alt h4  {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 4px;
}

.hover-overlay h4:after, .post-tile h4:after, .post-tile-alt h4:after, .post-list .blog-caption h4:after {
    content: '';
    background-color: #fff;
    height: 2px;
    width: calc(100% - 40%);
    position: absolute;
    left: 40px;
    margin-top: 40px;
    padding: 0 40px;
}

.post-tile > div,.post-tile-alt > div {
    padding: 0px 40px;
    min-height: 380px;
}

.post-tile h4:after, .post-tile-alt h4:after, .post-list .blog-caption h4:after {
    background-color: #222;
}

.post-tile-alt h4:after {
    left: auto;
    right: 40px;
}

 .single-section-title h3, .widget-title, .post-list .blog-caption h4 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
 }

 .post-comments .well {
    padding: 0 20px 20px;
    margin-bottom: 40px;
    background-color: transparent;
}

/* POST FORMAT STUFF */
.show-gallery .single-page-hero, .show-video .single-page-hero, .show-video .single-page-hero iframe, .show-video  .mbYTP_wrapper, .video-format-hero .mbYTP_wrapper {
    height: 100vh !important;
}

.show-gallery .dark-overlay, .show-video .dark-overlay {
    background-color: transparent;
}

.gallery-format-links a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 6px 16px;
    text-decoration: none;
    border: 1px solid #fff;
    margin-top: 18px;
    color: #fff !important;
}

.gallery-control {
    display: none;
}

.show-gallery .gallery-control, #show-gallery, .show-gallery #show-gallery, .show-video .gallery-control, #show-video, .show-video #show-gallery  {
    display: inline-block;
}

.show-gallery .gallery-format-links a, .show-video .gallery-format-links a {
    background-color: rgba(0,0,0,0.4);
}

.pushy a {
    border-bottom: none;
    border-top: none;
}

.pushy ul.list-unstyled a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pushy ul.list-unstyled a ul li a {
    padding-left: 30px;
}

.pushy a.logo {
    padding: 25px 20px 80px !important
}

.nav-wrapper img.logo {
        margin-top: 32px;
}

.post-list .blog-caption {
    padding: 60px 40px;
}

.sidebar .widget-title:first-of-type {
    margin-top: 0;
}

.masonry-portfolio-item {
    margin-bottom: 30px;
}

.masonry-portfolio-item.nopaddingleftright {
     margin-bottom: 0px;
}

@media all and (max-width: 1400px) {
    .container {
        width: 100%;
    }
}
